.menu li a::before {
  background: black none repeat scroll 0 0;
}
.menu li.current-menu-item a {
  color:    #DA291C;
  font-weight: bold; /* Make the text bold */

}
.menu li a:hover {
    color: #DA291C;
    text-decoration: underline;
}
/*.fa-pencil-square-o {
    background: #2E8B57;
}
.fa-pencil-square-o:hover {
    color: #2E8B57;
}*/
.welcome-text span {
    color:black;
}
h2.content-title,
h2.content-subtitle {
    color: #808080;
}
.farm-home-slider-area .slick-prev.fa.fa-angle-left.slick-arrow, .farm-home-slider-area .slick-next.fa.fa-angle-right.slick-arrow{
	color: black;
}
.slick-next.fa.fa-angle-right.slick-arrow:hover,
.slick-prev.fa.fa-angle-left.slick-arrow:hover {
    background: black;
}
.farm-about-us .contact-botton a {
    background:  #DA291C;
	box-shadow: 7px 7px 0 #ffd9cc;
}


.panel-heading a::before {
    background: black
}
.contact-botton a:hover {
    background: #fff none repeat scroll 0 0;
    color:  #DA291C;
}
.farm-about-us .contact-botton a {
    background: #DA291C;
}

.farm-project-nav li:hover,
.farm-project-nav li.active {
    color:  #DA291C;
}

.single-client-btn a.client-btn {
    background: #2E8B57 none repeat scroll 0 0;
}
.single-client-btn a.client-btn:hover {
    color: #2E8B57;
}
.single-contact:hover p {
    color: #2E8B57;
}
.single-submit input {
    background: #2E8B57 none repeat scroll 0 0;
    box-shadow: 5px 5px 0 #5c3629;
}
.single-submit input:hover {
    color: #2E8B57;
}
.scrollToTop {
	background: black;
}